h1{
    color:white

}

body {
    background-color: black;
}

.center {
    width: 300px;
    height: 200px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
  }
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}