body
{
    margin: auto;
    background-color:#9ed4ec;

}
hr
{
    border-style:dotted none none none ;
   border-top-width: 1px; 
   width: 30%;
}

h1
{
    color: #e92806;
    font-size: 69px ; 
    font-family: 'Dancing Script', cursive;
}
h2,h3{
    color: #f31270;
}