body
{
    margin: auto;
    background-color:#00e0ff;

}
hr
{
    border-style:dotted none none none ;
   border-top-width: 1px; 
   width: 30%;
}

h1
{
    color: #ee0404;
    /*#text-shadow: 0px 0px; */    
    font-family: 'Chango', cursive;
}
h2,h3{
    color: #f31270;
}